<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softcon.mapper.PaperQuestionMapper">
    <select id="getByPaperId" parameterType="int" resultType="com.softcon.entity.PaperQuestion">
        SELECT id, paper_id AS paperId, question_id AS questionId, COALESCE(score, 0) AS score
        FROM paper_question
        WHERE paper_id = #{paperId}
        ORDER BY id
    </select>

    <insert id="insert" parameterType="com.softcon.entity.PaperQuestion" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO paper_question (paper_id, question_id, score)
        VALUES (#{paperId}, #{questionId}, #{score})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO paper_question (paper_id, question_id, score)
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.paperId}, #{item.questionId}, #{item.score})
        </foreach>
    </insert>

    <delete id="deleteByPaperId" parameterType="int">
        DELETE FROM paper_question WHERE paper_id = #{paperId}
    </delete>
</mapper>